<div class="title text-center">
  <h1>About Us</h1>
</div>

<div class="container aboutUs text-justify">
  <p>This application is created as part of a developer training project with Javascript and Angular.
    The 3 students working on this project are Thibault Durand, Fabien Vauclin and Céline Hénichard.
    The purpose of this application is to facilitate access to NASA information about the planets of the solar system.
    This information is intended for both novices and the most informed of our visitors.
    We used the data available in the NASA API "https://api.nasa.gov/index.html".
    We hope you will enjoy discovering our work and remain available via the contact page for any constructive
    suggestion that will allow us to go further in our visitors' research.

    The SpaceWiki team.</p>
</div>

<div class=" container theTeam d-flex justify-content-center">
  <div class="col-4">
    <label for="fabien">Fabien Vauclin
      <img src="http://tof.cx/images/2019/04/25/81acca24c3a525117b44300c4e720ebc.png" alt="Fabien Vauclin"></label>
  </div>
  <div class="col-4">
    <label for="thibault">Thibault Durand
      <img src="http://tof.cx/images/2019/04/25/cf6edec63a8b270b22ea081d13815273.png" alt="Thibault Durand"></label>
  </div>
  <div class="col-4">
    <label for="celine">Céline Hénichard
      <img src="http://tof.cx/images/2019/04/25/3b07ad847eebe216e895d22df9ddd8e7.png" alt="Céline Hénichard"></label>
  </div>
</div>
<div class="centerButton">
    <button type="button" routerLink="/home" class="btn btn-warning">Home</button>
</div>
