<div id="container">
  <div>
    <img src="https://images-assets.nasa.gov/image/PIA00342/PIA00342~thumb.jpg">
  </div>
  <div>
    <h1>Earth</h1>
    <p>Earth is our home planet. Scientists believe Earth and its moon formed around the same time as the rest of the
      solar system. They think that was about 4.5 billion years ago. Earth is the fifth-largest planet in the solar
      system. Its diameter is about 8,000 miles. And Earth is the third-closest planet to the sun. Its average distance
      from the sun is about 93 million miles. Only Mercury and Venus are closer.

      Earth has been called the "Goldilocks planet." In the story of "Goldilocks and the Three Bears," a little girl
      named Goldilocks liked everything just right. Her porridge couldn't be too hot or too cold. And her bed couldn't
      be too hard or too soft. On Earth, everything is just right for life to exist. It's warm, but not too warm. And it
      has water, but not too much water.

      Earth is the only planet known to have large amounts of liquid water. Liquid water is essential for life. Earth is
      the only planet where life is known to exist.</p>


      <h2>What Does Earth Look Like?</h2>
      <p>
      From space, Earth looks like a blue marble with white swirls and areas of brown, yellow, green and white. The blue
      is water, which covers about 71 percent of Earth's surface. The white swirls are clouds. The areas of brown,
      yellow and green are land. And the areas of white are ice and snow.

      The equator is an imaginary circle that divides Earth into two halves. The northern half is called the Northern
      Hemisphere. The southern half is called the Southern Hemisphere. The northernmost point on Earth is called the
      North Pole. The southernmost point on Earth is called the South Pole.</p>


      <h2>How Do We Know Earth Is Round?</h2>
      <p>
      Humans have known that Earth is round for more than 2,000 years! The ancient Greeks measured shadows during summer
      solstice and also calculated Earth's circumference. They used positions of stars and constellations to estimate
      distances on Earth. They could even see the planet's round shadow on the moon during a lunar eclipse. (We still
      can see this during lunar eclipses.)

      Today, scientists use geodesy, which is the science of measuring Earth's shape, gravity and rotation. Geodesy
      provides accurate measurements that show Earth is round. With GPS and other satellites, scientists can measure
      Earth's size and shape to within a centimeter. Pictures from space also show Earth is round like the moon.

      Even though our planet is a sphere, it is not a perfect sphere. Because of the force caused when Earth rotates,
      the North and South Poles are slightly flat. Earth's rotation, wobbly motion and other forces are making the
      planet change shape very slowly, but it is still round.</p>
  </div>
</div>
<div class="centerButton">
    <button routerLink="/home">Home</button>
</div>