h2{
    font-weight: bold;
    font-family: 'Bungee Outline', cursive;
    font-size: 3rem;
    text-align: center;
    
}iframe{
    margin-bottom: 8%;
    margin-right: 15%;
    margin-left: 15%;
}.un{
    box-shadow: 0px 0px 100px red;
}.uno{
    color: red;
    margin-top: 5%;
}.deux{
    box-shadow: 0px 0px 100px white;
}.dos{
    color: white;
}.trois{
    box-shadow: 0px 0px 100px rgb(153, 88, 35);
}.tres{
    color: rgb(153, 88, 35);
}.vestInfo{
    color: rgb(153, 88, 35);
    font-family: none;
    font-size: 1.5rem;
    margin-bottom: 2%;
}.centerButton{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}video{ 
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: 500;
    background-size: cover; 
    }